.page-top {
  #car_img {
    padding-top: 100px;
  }
  .sheet {
    width: 100px;
    color: #fff;
    background-color: #00c;
    padding: 10px;
    text-align: center;

    position: absolute;
    top: 150px;
    
    &:after {
      content: "▼";
      position: absolute;
      left: 50px;
      top: 30px;
      color: #00c;
    }
  }
  
  .sheet-1 {
    left: 20px;
  }
  .sheet-2 {
    right: 20px;
  }
}
